*{
    margin: 0;
    padding: 0;
}

.thirtythree{
    color: #8F4E00;
    width: 400px;
    height:200px;
    font-size: 200px;
    font-family: BakBak One;
    padding: 0px 20px;
    margin-bottom: 0px;
    cursor: pointer;
}


#info-1-heading{
    font-family:BakBak One;
}

#info-1-body{
    font-family: Bai Jamjuree;
}

#info-box-1{
    background-color:#745944;
    color:white;
    padding:20px;
    width: 300px;
    height:461px;
    border-radius: 20px;
    margin:20px;
}

#info-box-1 p1{
    box-sizing: border-box;
    font-size: 24px;
    width:100%;
    margin:0;
}

#info-box-1 p2{
    box-sizing: border-box;
    font-size: 20px;
    width:100%;
    margin:0;
}

#two-containers{
    display:flex;
}

#pic-box{
    position:relative;
    width:500px;
    height:500px;
    border-radius:20px;
    overflow:hidden;
    margin:20px;
    cursor: pointer;
}

#pic-box img{
    width:auto;
    height:500px;
    display:block;
}

#popup-box{
    color:white;
    font-family: BakBak One;
    padding:20px;
    box-sizing: border-box;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:calc(100%/3);
    border-radius: 20px;
    background-color: #5B6237;
}

.image-column{
    position:absolute;
    top: 50px;
    right:0;
    width:300px;
    overflow-y: scroll;
}

.latte{
    display:block;
    width:200px;
    margin-bottom: 10px;
    cursor: pointer;
}

.guam{
    display: block;
    width:200px;
    margin-bottom: 10px;
    cursor: pointer;
}